/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #F10A0A;
  --ifm-color-primary-dark: #C00808;
  --ifm-color-primary-darker: #930606;
  --ifm-color-primary-darkest: #5A0303;
  --ifm-color-primary-light: #F34848;
  --ifm-color-primary-lighter: #F77979;
  --ifm-color-primary-lightest: #FFB1B1;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #E04444;
  --ifm-color-primary-dark: #BA3232;
  --ifm-color-primary-darker: #8E2424;
  --ifm-color-primary-darkest: #591616;
  --ifm-color-primary-light: #E86666;
  --ifm-color-primary-lighter: #F08D8D;
  --ifm-color-primary-lightest: #F7B7B7;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
